* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #2FB5F5;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  z-index: 1;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  position: relative;
  left: 50px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #2FB5F5;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.onda{
    height: 30%;
     position: fixed;
    bottom: 0;
    width: 100%; 
    z-index: 0;
}

.h1{
    margin-top: 5%;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #004E6C;
}

.text{
    font-size: 18px;
    margin-top: 10%;
    font-family: Inter, sans-serif;
}

.desconto {
    color: #046287;
}

.carro{
    width: 50%;
    height: 50%;
    margin-top: 5%;
}

.login-btn, .paddi1 {
    font-family: 'Inter', 'Semi Bold', sans-serif;
    background-color: aqua;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    margin-top: -180%;
    position: center;
    margin-left: 10%;  
    z-index: 1; 
}

.login-btn, .paddi2 {
    font-family: 'Inter', 'Semi Bold', sans-serif;
    background-color: aqua;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 10%;
    position: center;
    margin-left: 50%;  
    z-index: 1; 
}

.login-btn, .paddi3 {
    font-family: 'Inter', 'Semi Bold', sans-serif;
    background-color: aqua;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    margin-top: -180%;
    position: center;
    margin-left: 10%;
    z-index: 1;   
}

.login-btn, .paddi4 {
    font-family: 'Inter', 'Semi Bold', sans-serif;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    margin-top: -180%;
    position: center;
    margin-left: 10%;   
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5.5); 
    z-index: 1;
}

.botao1{
    margin-top: 15%;
    margin-left: 0%;
    z-index: 1;
}

.botao2{
    margin-left: 50%;
    margin-top: -7.5%;
    z-index: 1;
}

.container1{
    margin-top: 15%;
    z-index: 1;
}

.botao3{
    margin-left: 0%;
    margin-top: 10%;
    z-index: 1;
}

.botao4{
    margin-top: -7.5%;
    margin-left: 50%;
    z-index: 0;
}

.container{
    margin-top: -3%;
    z-index: 1;
}