body {
    font-family: Arial, sans-serif;
}

.center-div {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="number"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    width: 100%;
    background-color: #0084ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}